<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Jobs:</strong>
  <% @category.jobs.each do |job| %>
    <%= link_to job.title, company_job_path(job.company, job) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
